@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts";
@import "reset";

// шрифты
$font_regular: "Montserrat-Regular";
$font_medium: "Montserrat-Medium";
$font_semibold: "Montserrat-SemiBold";

.fontstyle_regular {
	font-family: $font_regular;
}
.fontstyle_medium {
	font-family: $font_medium;
}
.fontstyle_semibold {
	font-family: $font_semibold;
}

// размеры текста
$font_size_13: 13px;
$font_size_15: 15px;
$font_size_16: 16px;
$font_size_18: 18px;
$font_size_20: 20px;
$font_size_22: 22px;
$font_size_25: 25px;
$font_size_30: 30px;
$font_size_35: 35px;
$font_size_38: 38px;

.fontsize_13 {
	font-size: $font_size_13;
}
.fontsize_15 {
	font-size: $font_size_15;
}
.fontsize_16 {
	font-size: $font_size_16;
}
.fontsize_18 {
	font-size: $font_size_18;
}
.fontsize_20 {
	font-size: $font_size_20;
}
.fontsize_22 {
	font-size: $font_size_22;
}
.fontsize_25 {
	font-size: $font_size_25;
}
.fontsize_30 {
	font-size: $font_size_30;
}
.fontsize_35 {
	font-size: $font_size_35;
}
.fontsize_38 {
	font-size: $font_size_38;
}


// цвет текста
.fontcolor_white {
	color: #FFFFFF;
}
.fontcolor_black {
	color: #000000;
}
.fontcolor_grey {
	color: #696969;
}
.fontcolor_red {
	color: #FF3333;
}
.fontcolor_brown {
	color: #876041;
}
// ширина кнопок
$button_width_XXS: 176px;
$button_width_XS: 200px;
$button_width_S: 250px;
$button_width_M: 300px;
$button_width_L: 350px;
// высота кнопок
$button_height_S: 42px;
$button_height_M: 60px;
$button_height_L: 70px;
/*.Button {
	text-align: center;
}*/

.Button_center {
	display: flex;
	align-items: center;
	justify-content: center;
}
// Button_size
.Button_size_xxs {
	min-width: $button_width_XXS;
	min-height: $button_height_S;
}
.Button_size_xs {
	min-width: $button_width_XS;
	min-height: $button_height_M;
}
.Button_size_s {
	min-width: $button_width_S;
	min-height: $button_height_M;
}
.Button_size_m {
	min-width: $button_width_M;
	min-height: $button_height_M;
}
.Button_size_l {
	min-width: $button_width_M;
	min-height: $button_height_L;
}
.Button_size_xl {
	min-width: $button_width_L;
	min-height: $button_height_L;
}

// button color
.Button_color_white {
	background-color: #FFFFFF;
	color: #000000;
}
.Button_color_red {
	background-color: #FF3333;
	color: #FFFFFF;
	border: none;
}
.Button_color_whitered {
	background-color: #FFFFFF;
	color: #FF3333;
	border: 2px solid #FF3333;
}

//button border
.Button_border_black {
	border: 1px solid #000000;
}

// button margin-top
.Button_marginTop_s {
	margin-top: 30px;
}
.Button_marginTop_m {
	margin-top: 40px;
}
.Button_marginTop_l {
	margin-top: 60px;
}

//ширина иконок
$icon_size_20: 20px;
$icon_size_25: 25px;
$icon_size_30: 30px;
$icon_size_40: 40px;
$icon_size_50: 50px;
$icon_size_70: 70px;
$icon_size_96: 96px;

.Icon_size_20 {
	width: $icon_size_20;
	height: $icon_size_20;
}
.Icon_size_25 {
	width: $icon_size_25;
	height: $icon_size_25;
}
.Icon_size_30 {
	width: $icon_size_30;
	height: $icon_size_30;
}
.Icon_size_40 {
	width: $icon_size_40;
	height: $icon_size_40;
}
.Icon_size_50 {
	width: $icon_size_50;
	height: $icon_size_50;
}
.Icon_size_70 {
	width: $icon_size_70;
	height: $icon_size_70;
}
.Icon_size_96 {
	width: $icon_size_96;
	height: $icon_size_96;
}

// background image
.background_image {
	background-repeat: no-repeat;
	background-size: cover;
}
.background_image_foot {
	background-image: url(../img/Foot.png);
}
.background_hand_1 {
	background-image: url(../img/Hand_1.png);
}
.background_hand_2 {
	background-image: url(../img/Hand_2.png);
}
.background_hand_3 {
	background-image: url(../img/Hand_3.png);
}
.background_hand_4 {
	background-image: url(../img/Hand_4.png);
}
.background_hand_5 {
	background-image: url(../img/Hand_5.png);
}
.background_hand_6 {
	background-image: url(../img/Hand_6.png);
}
.background_hand_7 {
	background-image: url(../img/Hand_7.png);
}

.background_avatar_1 {
	background-image: url(../img/Profile_1.png);
}
.background_avatar_2 {
	background-image: url(../img/Profile_2.png);
}
.background_avatar_3 {
	background-image: url(../img/Profile_3.png);
}
.background_avatar_4 {
	background-image: url(../img/Profile_4.png);
}
.background_avatar_5 {
	background-image: url(../img/Profile_5.png);
}




body {
	font-family: $font_regular;
}
.Content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.Button {
	border-radius: 20px;
}
/*.Button-ghost {
	text-align: center;
	border-radius: 20px;
}*/
.Button_background_white {
	background-color: #FFFFFF;
}
.Button_border_greylow {
	border: 1px solid rgba(0, 0, 0, 0.3);
}


.Link {
	position: relative;
	min-width: max-content;
	color: #000000;
}
.Link::before {
	content: ' ';
	position: absolute;
	background-size: cover;
	cursor: pointer;
	top: -10px;
	left: -40px;
}
.Link_size_25::before {
	width: 25px;
	height: 25px;
}
.Link_size_40::before {
	width: 40px;
	height: 40px;
}
.Link_number_whatsapp::before {
	background-image: url(../img/IconWhatsapp.png);
}
.Link_number_whatsapp_grey::before {
	background-image: url(../img/IconWhatsapp_grey.png);
}
.Link_mail::before {
	background-image: url(../img/Icon_mail.png);
}
.Link_header {
margin-left: 65px;
}
.Link_header::before {
	top: -10px;
	left: -40px;
}
.Link_footer {
	margin-left: 50px;
}
.Link_footer::before {
	top: -1px;
	left: -30px;
}
.Icon {
	background-repeat: no-repeat;
	background-size: cover;
}
.Icon_whatsapp {
	background-image: url(../img/IconWhatsapp.png);
}

.Number_header {
	margin-left: 3px;
}

.Menu {
	display: flex;
}
.Menu_header {
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}
.Menu-Link_header {
	color: #202020;
	position: relative;
}
.Menu-Link_active {
	font-family: $font_semibold;
}
.Menu-Link_active::before {
	content: " ";
	width: 13px;
	height: 13px;
	background-color: #FF3333;
	border-radius: 50px;
	position: absolute;
	left: -15px;
	top: 5px;
}

.Banner-Wrapper {
	display: flex;
}
.Banner-Wrapper_main {
	width: 100%;
	height: 924px;
	position: relative;
}

.DescriptionWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.DescriptionWrapper_main {
	height: 796px;
	margin-left: 66px;
	position: absolute;
	z-index: 150;
}

.DescriptionText {
	background: #FFFFFF80;
	border: 1px solid #FFFFFF4D;
	box-shadow: 0px 1px 10px 0px #DBD5D54D inset;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.DescriptionText-ghost {
	background: #FFFFFF80;
	border: 1px solid #FFFFFF4D;
	box-shadow: 0px 1px 10px 0px #DBD5D54D inset;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.DescriptionText_size_xxs {
	width: 440px;
	height: 150px;
}
.DescriptionText_size_xs {
	width: 438px;
	height: 185px;
}
.DescriptionText_size_s {
	width: 620px;
	height: 210px;
}
.DescriptionText_size_m {
	width: 676px;
	height: 217px;
}
.DescriptionText_size_l {
	width: 676px;
	height: 265px;
}





////////////////// PROMO
.Promotions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	z-index: 999;
}
.Promotions-Carousel {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 540px;
	overflow: hidden;
	margin: 60px 0 45px 0;
}
.Slide-Wrapper {
	display: flex;
	align-items: center;
	position: relative;
	left: 0;
	transition: all ease 1s;
}
.Slide {
	min-width: 605px;
	height: 315px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	box-shadow: 0px 2px 10px 0px #00000040;
	border-radius: 20px;
	padding: 27px 0 18px 80px;
	margin: 0 20px;
}
.Slide-ghost {
	min-width: 605px;
	height: 315px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	box-shadow: 0px 2px 10px 0px #00000040;
	border-radius: 20px;
	padding: 27px 0 18px 80px;
	margin: 0 20px;
}
.Slide-ghost-first {
	left: -645px;
}
.Slide-ghost-last {
	right: -645px;
}
.Slide-ghost::after {
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}
.Slide_active {
	min-width: 850px;
	height: 442px;
	margin: 0 25px;
}
.Slide_hide {
	display: none;
}
.Slide::after {
	content: ' ';
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}
.Slide-num1::after {
	background-image: url(../img/Hand_ice-cream.png);
}
.Slide-num2::after {
	background-image: url(../img/Hand_dog.png);
}
.Slide-num3::after {
	background-image: url(../img/Face.png);
}
.Slide-num4::after {
	background-image: url(../img/Balls.png);
}
.Slide-num5::after {
	background-image: url(../img/Girls.png);
}
.Slide-ghost-first::after {
	background-image: url(../img/Girls.png);
}
.Slide-ghost-last::after {
	background-image: url(../img/Hand_ice-cream.png);
}
.NumberPercent {
	position: relative;
	margin-left: 10px;
}
.NumberPercent-ghost {
	position: relative;
	margin-left: 10px;
}
.NumberPercent-ghost::before {
	content: ' ';
	width: 56px;
	height: 56px;
	top: -10px;
	left: -60px;
	position: absolute;
	background-image: url(../img/Percent_quatro.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.NumberPercent::before {
	content: ' ';
	width: 56px;
	height: 56px;
	top: -10px;
	left: -60px;
	position: absolute;
	background-image: url(../img/Percent_quatro.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.NumberPercent_big {
	margin-left: 20px;
}
.NumberPercent_big::before {
	width: 76px;
	height: 76px;
	top: -16px;
	left: -80px;
}
.DescriptionText_promo_min {
	padding: 0 52px;
}
.DescriptionText_promo_max {
	padding: 0 90px;
}
.CircleWrapper {
	width: 205px;
	height: 17px;
	display: flex;
	justify-content: space-between;
}
.Circle {
	width: 17px;
	height: 17px;
	background-color:#ECECEC;
	border-radius: 50px;
	cursor: pointer;
}
.Circle_active {
	background: #FF3333;
}
.Button-Promotion {
	margin: 60px 0 110px 0;
}

